.signin-progress {
  width: 60%;
  min-width: 600px;
  height: auto;
  margin: 20px auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signin-progress > div {
  margin: 10px;
  font-size: large;
}

.signin-progress > #bold {
  color: orange;
}


.emailverification {
  width: 500px;
}

#birthday {
  width: 150px;
  height: 40px;
  margin-right: 20px;
}

#gender {
  width: 40px;
  height: 40px;
  margin: 0px 20px;
}


.agree {
  width: 70%;
}

.agree > .box {
  height: 200px;
  box-shadow: 0px 0px 2px gray inset;
  margin-top: 20px;
  padding: 10px;
}

.agree > .check {
  font-size: small;
}



.memberinfo {
  width: 500px;
}


.findpw {
  width: 500px;
}